.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 39, 88);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    background-color:rgb(9, 33, 78);
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: rgb(17, 136, 27);
    
    width:310px;
    font-family: fantasy;
    
}
